.vjs-fast-forward-button svg {
    width: 16px;
    height: 16px;
    fill: white;
}

.vjs-play-back-button svg {
    width: 16px;
    height: 16px;
    fill: white;
    transform: rotate(180deg);
}

.video-container {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               width: 100vw;
               height: 100vh;
           }
#hls-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Optional: fill the space while maintaining aspect ratio */
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* disables scrolling */
    height: 100%;
}

.vjs-big-play-button {

    color: white !important; /* Ensures the play icon is white */
    font-size: 40px !important; /* Makes the play button larger */
    border: none !important;
}

.display-modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    max-height: 90vh;
    background: linear-gradient(
        to top,
        rgba(40, 39, 39, .95) 50%,     /* solid color starts here (bottom = 0%) */
        rgba(40, 39, 39, .95) 60%,    /* solid color ends here (at 50% height) */
        rgba(40, 39, 39, 0.95) 80%,    /* gradient starts fading here (at 50%-75%) */
        rgba(85, 85, 85, 0) 100%      /* fully transparent at top (at 100%) */
    );
    color: white;
    z-index: 2000;
    padding: 20px;
    display: block;
    overflow-y: auto;
}

/* Modal Content */
.display-modal-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
.display-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.display-modal-title {
    position: relative;
    top: 100px; /* can change top: and position: relative to just position:static */
    padding: 10px;
    font-size: 2rem; /* adjust size as needed */
    font-weight: bold;
}

.close-btn {
    background: none;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Body */
.display-modal-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.info-grid {
    display: grid;
    height: 500px;
    grid-template-areas:
        "release cast"
        "description genre";
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 1rem;
    color: white;
    overflow: hidden;
}

.release-info {
    grid-area: release;
    position: relative;
    top: 80%;
    padding: 10px;
    border-radius: 10px;
}

.description {
    grid-area: description;
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
}

.cast {
    grid-area: cast;
    position: relative;
    top: 75%;
    left: 20%;
    width: 80%;
    padding: 10px;
    border-radius: 10px;

}
.cast p {
    margin: 0;
    line-height: 1.4;
    word-wrap: break-word;

}

.genre {
    grid-area: genre;
    position: relative;
    top: 30%;
    left: 20%;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.movie-description {
    font-size: 16px;
}

/* Footer (Play Button) */
.display-modal-footer {
    padding: 10px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .info-grid {
        grid-template-areas:
            "release"
            "cast"
            "genre"
            "description";
        grid-template-columns: 1fr;
    }
}

.play-btn {
    display: none; /* this button is a bit redundant now so its hidden, bit lazy to delete */
    padding: 10px 20px;
    margin-top: -50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}